In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [1]:
# Check the Python Version

import sys
print(sys.version)

3.6.7 | packaged by conda-forge | (default, Nov  6 2019, 16:19:42)
[GCC 7.3.0]

In [2]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [3]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [4]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-4-63a21a726720>, line 3)

In [5]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [6]:
# Print string and error to see the running order

print("This will be printed")
print("This will cause an error")
frint("This will NOT be printed")

This will be printed
This will cause an error

NameError: name 'frint' is not defined

In [ ]:
# Print string and error to see the running order

print("This will be printed")
print("This will cause an error")
print("This will NOT be printed")

In [8]:
print("Hello, world!")

Hello, world!

In [9]:
print('Hello, world!')

Hello, world!

In [10]:
# Write your code below and press Shift+Enter to execute 
print("Hello, world!") # Print the traditional hello world

Hello, world!

In [11]:
# Integer

11

11

In [12]:
# Float

2.14

2.14

In [13]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [14]:
# String
'Hello, Python101!'

'Hello, Python101!'

In [15]:
# Type of 12
type(12)

int

In [16]:
# Type of 2.14
type(2.14)

float

In [17]:
# Type of "Hello Python 101 world!"
type("Hello Python 101 world")

str

In [18]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [19]:
# Print the object type of -1
type(-1)

int

In [20]:
# Print the object type of 4
type(4)

int

In [21]:
# Print the object type of 0
type(0)

int

In [22]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [23]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [24]:
# Print the object type 0.5
type(0.5)

float

In [25]:
# Print the object type 0.58
type(0.58)

float

In [27]:
# Verify if the number is an integer
type(2)

int

In [29]:
# Convert the number 2 to a float - i.e. typecasting
float(2)

2.0

In [30]:
# Convert the integer number 2 to a float then verify if it is now a float
type(float(2))

float

In [31]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [32]:
# Convert the string 1 to an float
float('1')

1.0

In [33]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [34]:
# Convert a integer to a string
str(45)

'45'

In [35]:
# Convert a float to a string

str(1.2)

'1.2'

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False
type(False)

bool

In [39]:
# Convert True to a float object type
float(True)

1.0

In [42]:
# Convert 0 to a boolean object type
bool(0)

False

In [43]:
# What object type is the result of (6/2) = personally I feel is 3 which is an integer since it lacks a decimal place.
# Well, I was wrong it turns out that Python b default gives answers as float for integer division as demonstrated in my 44th line code below
type(6/2)

float

In [44]:
print(6/2)

3.0

In [45]:
# What object type is the result of (6//2) = I am sure this one is going to be an integer because of the absolute value of //
# From my discovery // is an integer divison as oppose to the /
type(6//2)

int

In [46]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [47]:
# Subtraction operation expression

50 - 60

-10

In [48]:
# Multiplication operation expression

5 * 5

25

In [49]:
# Division operation expression

25 / 6

4.166666666666667

In [50]:
25//4

6

In [51]:
25//6

4

In [52]:
# Integer division operation expression

25 // 5

5

In [53]:
# Let's write an expression that calculates how many hours there are in 160 minutes
# My guess is to divide 60 to 160 minutes
# Why? You might ask
# Because 60 minutes make 1 hour
160/60 
# This is not what I am looking for
# Why?
# Because it is giving me a float answer, which means the decimals are minutes
# So the mathematical operator I will use is the 'integer division sign //'

2.6666666666666665

In [54]:
160//60

2

In [55]:
# Mathematical expression

30 + 2 * 60

150

In [56]:
# Mathematical expression

(30 + 2) * 60

1920

In [61]:
# Store value into variable

x = 43 + 60 + 16 + 41
print(x)

160

In [62]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
print(y)

2.6666666666666665

In [64]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [65]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
print(total_hours)

2.3666666666666667

In [66]:
# What is the the value of x where is x = 3 + 2 * 2
x = 3 + 2 * 2
print(x)

7

In [67]:
# What is the value of y where y = (3 + 2) * 2
# My guess is 10
y = (3 + 2) * 2
print(y)

10

In [68]:
# What is the value of z where z = x + y?
# My suspicion is 17, but lets see if I am correct
z = x + y
print(z)

17